* {
  margin:0;
}

.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 200px;
  background-image: url('https://raw.githubusercontent.com/jesporo/Digitalizacion4-ESO/refs/heads/main/Haz%20una%20imagen%20del%20comercio%20electronico%20(1).jpg');
}

.encabezado2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 200px;
  background-image: url('https://raw.githubusercontent.com/jesporo/Digitalizacion4-ESO/refs/heads/main/vertical-closeup-shot-many-cryptocurrency-coins.jpg');
}

.menu * {
  cursor: pointer;
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.menu {
  background: black;
  color: white;
}

nav *:hover {
  cursor: pointer;
}

* {
    font-family: "JetBrains Mono", monospace;
}

h1, h2, img {
  padding: 20px;
  /*align-items: center;*/
  text-align: center;
}

.contenido {
  display: flex;
  justify-content: flex-start;
  text-align: justify;
}

.contenido p {
  padding: 20px;
}


th, td{
  text-align: left;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
}

.contenido2 {
  padding: 20px;
}
